.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 329px;
    background-image: url(/images/Book-background.png);
    &__heading {
        @include font(Roboto,40px,white);
        font-weight: 700;
        line-height: 45px;
        margin: 113px 0 39px 0;
    }
}