.brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 204px;
    &__heading {
        @include font(Roboto,18px,black);
        font-weight: 700;
        line-height: 30px;
        margin-top: 35px;
        text-align: center;
    }
    &__brand-icons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 70px;
        margin-top: 15px;
    }
    &__brand-icon {
        width: 100%;
        height: 100%;
    }
}