.button {
    width: 157px;
    height: 40px;
    background-color: #6F2CFF;
    @include font(Roboto,14px,white);
    font-weight: 400;
    line-height: 14px;
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    &--book {
        width: 44%;
        height: 45px;
        border-radius: 0px 27.5px 27.5px 0px;
    }
    &--white {
        background-color: white;
        border-radius: 30px;
        @include font(Roboto,15px,#6F2CFF);
        font-weight: 400;
        line-height: 15px;
        margin-left: 15px;
    }
    &--ecosystem {
        width: 203px;
        height: 40px;
        margin-top: 74px;
    }
}