* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
 body {
    height: 100%;
 }

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

@import "./mixins.scss";
@import "./header.scss";
@import "./button.scss";
@import "./commerce.scss";
@import "./container.scss";
@import "./brands.scss";
@import "./customers.scss";
@import "./statistics.scss";
@import "./QubitCommerce.scss";
@import "./products.scss";
@import "./what_you_can.scss";
@import "./.slider";
@import "./specialize.scss";
@import "./ecosystem.scss";
@import "./book-form.scss";
@import "./book.scss";
@import "./connect_with_us.scss";
@import "./footer.scss";
@import "./wrapper.scss";